body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  width: 377px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}

.addTask {
  width: 345px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}

.status {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-left: -130px;
}
 
button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addButton {
  /* width: 27px; */
  height: 40px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: #3C82F6;
  color: white;
}

.statusButton {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  background-color: #F3F4F6;
}

.active{
  color:white; 
  background: #3C82F6;
}

input {
  padding: 8px 16px;
  height: 23px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 6px;
}

h3 {
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin-right: 6px;
  background-color: #3C82F6;
}

.taskBox {
  height: 30px;
  width: 313px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F3F4F6;
  border-radius: 6px;
}

/* .done {
  text-decoration: line-through;
} */

text {
  margin: 0;
}

.deleteButton {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EF4444;
  background-color: #FEF2F2;
}

.PoweredByPinecone {
  display: flex; 
  flex-direction: row;
  font-size: 12px;
  align-items: center; 
  gap:6px;
}


 

